p{
    background: lightgray;
    border-radius: 30px;
    padding: 15px;
    text-align: center;
}
.redText{
    color: red;
}
.redBorder{
    border: solid red;
}
.greenText{
    color: green;
}
.greenBorder{
    border: solid green;
}
.blueText{
    color: blue;
}
.blueBorder{
    border: solid blue;
}