<!DOCTYPE html>
<html>
<head>
    <title>TeisterMask</title>
	<link rel='stylesheet' href='/stylesheets/index-style.css' />
	<link rel='stylesheet' href='/stylesheets/form-style.css' />
</head>
<body>
    {{{body}}}
</body>
</html>
